
.tooltip {
    top: calc(-125% - 50%);
    right: calc(-100% - 500%);
    border-radius: 10px;
}

.tooltipPhone {
    top: calc(-140% - 50%);
    right: calc(-50% - 100%);
    border-radius: 10px;
}

#tooltipCredits {
    top: calc(-310% - 50%);
    left: calc(700% - 80%);
    border-radius: 10px;
}